html,
* {
    /* Prevent double tap to zoom in mobile */
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
}

a {
    text-decoration: none;
}

.input {
    background-color: #22252c !important;
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    border: none;
    border-bottom: 0.3rem solid transparent;
    border-radius: 3em;
    display: block;
    transition: all 0.3s;
}

.input:placeholder-shown {
    color: #909193;
}

.btn {
    border: none;
    border-radius: 3em;
    padding: 0.8rem 2rem 0.8rem 2rem;
    font-size: 1.1rem;
    color: #fefefe;
    background: linear-gradient(0.25turn, #0f9ab4, #30bb73);
    box-shadow: 2px 3px 11px 0px #0000007a;
    opacity: 0.9;
}

.btn:hover {
    cursor: pointer;
    opacity: 1;
    filter: contrast(150%);
}

.hidden {
    display: none;
}

.vis-hidden {
    visibility: hidden;
}

.hover-pointer:hover {
    opacity: 1;
    cursor: pointer;
    filter: contrast(150%);
}

.only-functionally {
    opacity: 0 !important;
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
}
